<form method="POST">
<div class="mb-3">
  <h3><%=monTitre %></h3>
    <label for="formGroupExampleInput" class="form-label"></label>
    <input name="type" type="text" class="form-control" id="formGroupExampleInput" placeholder="Type d'animal">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Nom</label>
    <input name="nom" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
  </div>

  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">IMG URL:</label>
    <input name="url" type="text" class="form-control" id="formGroupExampleInput2" placeholder="URL de l'image">
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </div>

</form>